body{
    background-color: antiquewhite;
    align-content: center;
}
.calci-container{
    background-color: darkslateblue;
    color: white;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 10px;
    padding: 10%;
    width: 70%;
    margin:10px;
}
.item{
    background-color: chocolate;
}
.item-input{
    grid-column: span 3;
    
}
.item-input:hover{
    background-color: pink;
}
input{
    grid-column: span 3;
    width: 90%;
    height:60px;
    padding: 20px;
    margin: 20px;
    border: 5px solid black;
    display: inline-block;
}
h1{
    padding: 40px;
    text-align: center;
    font-size: 40px;
}
.equal{
    grid-column: span 4;
    background-color: darkcyan;
    border: 4px solid black;
    font-size: 70px;
    font-weight: 700;
}
.c{
    background-color: red;
}
.item:hover{
    background-color: chartreuse;
}
.equal:hover{
    background-color: red;
}
.c:hover{
    background-color: darkgreen;
}